.sidebar
{
  width: 0 0%;
  height: 93vh;
  background-color: rgb(94, 93, 93);
}

.item
{
  padding-top: 10%;
  list-style: none;
}
.item-list
{
  font-size: 2vw;
  align-items: center;
  padding-top: 20%;
  font-weight: bold;
  padding: 10%;
}
.link
{
  text-decoration: none;
}
