
h3{
    margin-top: 3vh;
    text-align: end;
    margin-top: 100px;

}
.buttons{
    padding: 15px;
    background-color:  rgb(162, 200, 211);
    border: none;
    border-radius: 10px;
    font-size:large;
    font-weight: 900;
    color: rgb(37, 102, 133);
    width: 7vw;
    margin-left: 5px;
}
.row{
    justify-content: end;
    margin-top: 10vh;
    margin-left: 15vw;
}
.operations{
    text-decoration: none;
}
#back{
    padding: 15px;
    background-color: rgb(198, 232, 242);
    border: none;
    border-radius: 5px;
    font-size:large;
    font-weight: 900;
    color: blue;
    width: 7vw;
}
.mainContainer{




}