<!-- <h1>App</h1> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <table>
      <tr>
          <th >First Name</th>
          <th >Last Name</th>
          <th >Zip</th>
          <th *ngIf="display">Phone No</th>
      </tr>
      <tbody *ngFor="let data of customer">
          <tr >
              <td appColor>{{data.firstname}}</td>
              <td [ngStyle]="(data.lastname[0] == 'm'|| data.lastname[0]== 'M' || data.lastname[0] =='c'|| data.lastname[0] =='C' || data.lastname[0] == 'd' || data.lastname[0]=='D') ? list:''">{{data.lastname}}</td>
              <td >{{data.zip}}</td>
              <td *ngIf="display">{{data.phone}}</td>
          </tr>
      </tbody>
      </table>
      <div class="btnContainer">
        <button type="submit" class="btn btn-outline-primary" (click)="toggleColumnPreview()">{{hideShowText}}</button> 
    </div>
  </div>
</body>
</html>
<router-outlet></router-outlet>