table, th, td{
    text-align: center;
    border: 2px solid rgb(247, 89, 89);
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 10px;
}

div{
    margin-top: 100px;
}

button{
    text-align: center;
}
th{
    background-color: red;
}
.btnContainer{
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}