.form-label:after {
  content: " *";
  color: red;
}

h4{
    margin-top: 20px;
}
button{
    text-align: center;
}
.CreateButton{
    text-align: end;
    margin-bottom: 10px;
}

h2{
    text-align: center;
}