<!-- <p>register works!</p> -->
<form class="container" [formGroup]="registerForm">
    <h3>Register</h3>
    <div>
        <label for="username" class="form-label h6">User Name</label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
          placeholder="Enter Username"
          required
          minlength="1"
          maxlength="7"
          [class.is-invalid]="
            username.invalid && (username.dirty || username.touched)
          "
        />
        <div
          *ngIf="username.invalid && (username.dirty || username.touched)"
          class="invalid-feedback"
        >
          <div *ngIf="username.errors?.['required']">
            This field is required.
          </div>
          <div *ngIf="username.errors?.['minlength']">
            This field must have at least 1 character.
          </div>
          <div *ngIf="username.errors?.['maxlength']">
            This field must have at most 7 characters.
          </div>
        </div>
      </div>
    

    <label  for="firstName" class="form-label h6">Email</label>
    <input class="form-label h6" type="email" type="email" id="email" name="email" formControlName="email" placeholder="your-name@provider.com" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="email.invalid && (email.dirty || email.touched)" required />
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
        <div *ngIf="email.errors?.['required']">
          This field is required.
        </div>
        <div *ngIf="email.errors?.['minlength']">
          This field must have at least 1 character.
        </div>
        <div *ngIf="email.errors?.['maxlength']">
          This field must have at most 30 characters.
        </div>
        <div *ngIf="!email.errors?.['required'] && !email.errors?.['minlength'] && !email.errors?.['maxlength'] && email.errors?.['emailValidator']">
          Invalid email format.
        </div>
      </div>
    <label  for="firstName" class="form-label h6">Password</label>
    <div class="input-group input-group-sm has-validation">
    <input class="form-label h6" placeholder="Enter password" [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" formControlName="password" required minlength="6"  [class.is-invalid]="password.invalid && (password.dirty || password.touched)" />
    <button type="button" class="btn btn-outline-secondary" (click)="user.showPassword = !user.showPassword">
       <div class="Eyeclass">
        <i class="bi ml-4 " [ngClass]="{'bi-eye-fill': !user.showPassword, 'bi-eye-slash-fill': user.showPassword}"></i>
       </div>
      </button>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
        <div *ngIf="password.errors?.['required']">
          This field is required.
        </div>
        <div *ngIf="password.errors?.['minlength']">
          This field must have at least 15 characters.
        </div>
      </div>
    </div>   <br>
<div class="text-center mt-4">
    <button class="btn blue  w-75 rounded btnText" (click)="submitted()">
        Register
    </button> <br>
    <button class="btn red  m-3 w-75 rounded btnText"  (click)="reset()" >Reset</button>
</div>
</form>