<!-- <p >add works!</p> -->
<div class="mainContaainer">
<div class="container-fluid form">
    <h3 class="mb-3">Login</h3>
<form>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Enter Name:</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail"  placeholder="Enter Name">
      </div>
      <br>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Enter Email:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Enter Email">
        </div>
      </div>
      <br>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Enter Mobile Number:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Enter Mobile Number">
      </div>
    </div>
    <br>
    <div class="row pb-2">
        <div class="col">
          <input class="form-control btn btn-primary" type="submit" value="Add">
        </div>
      </div>
  </form>
</div>
</div>